.accordion-simple > .active {
    display: block;
}

.accordion__faq .inactive {
    display: none;
}

.verticle {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.select-image-input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}