.div-add-image-body {
    
    min-width: 100vw;
    min-height: 100vh;
    margin-top: 15px;
}

.div-header {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-image-title {
    color: white;
}

.images-flex-container {
    margin: 10px;
    padding: 3px;
    border: none;
    border-radius: none;
}

.div-upload-component {
  display: flex;
  justify-content: center;
}

.submit-button {
  margin-right: 10px;
}

.spinner-div {
  position: relative;
}

@media (min-width: 768px) {
    /* Styles for tablets and larger screens */
    
    .div-header {
      font-size: calc(12px + 2vmin); /* Adjust as needed */
    }
}
  
  @media (min-width: 992px) {
    /* Styles for desktop screens */
    
    .div-add-image-body {
      min-width: 100%; /* Adjust as needed */
    }
    
    
}