/* Global settings */

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
 
  background-color: rgb(25, 25, 25);
  background-size: contain;
  color: white;
  width: auto;
}

.app-page {
  min-width: 100vw;
}

.app-body {
  align-items: center;
  justify-content: center;
}

.app-home-icon {
  justify-content: left;
}

.auth-form-container, 
.login-form, 
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsible .content {
  padding: 6px;
  background-color:#eeeeee;
}

.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border:3px solid #40916C ;
  color:#F8F5F2;
  background-color: #40916db2;
  border-radius: 10px;
}
::placeholder {
  color:#F8F5F2;
}

button {
  border: none;
  background-color: #356d54;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #F8F5F2;
}

.my-button {
  border: none;
  background-color: #356d54;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #F8F5F2;
}
.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}




/* Media Queries */

@media (max-width: 768px) {
  /* Styles for mobile and small screens */
  
  .App {
    width: 100%;
  }
  
  input,
  button,
  .my-button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  /* Styles for desktop screens */
  
  .App {
    max-width: 100vw;
  }
  
  input,
  button,
  .my-button {
    font-size: 16px;
  }
}