.App {
  text-align: center;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  /*background-image: linear-gradient(79deg, #2a2ef8, #60c3db 48%, #a9c8e0);*/
  background-color: rgb(25, 25, 25);
  background-size: contain;
  color: white;
  width: 27rem;
}

.app-header {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: auto;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-page {
  min-width: 90%;
}

.app-body {
  align-items: center;
  justify-content: center;
}

hr {
  max-width: auto;
}



.app-home-icon {
  justify-content: left;
}

.settings-img {
  position: relative;
  display: block;
  margin-left: auto;
  align-content: right;
  justify-content: right;
}

.lib-img {

}

.lib-div {
  display: flex;
}

.lib-desc {/*
  position: relative;
  display: block;
  margin-left: -20rem;
  align-content: center;
  justify-content: center;
  text-decoration: none;*/
  justify-self: end;
}

.uploads {
  position: relative;
  display: block;
}

.App-link {
  color: #61dafb;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapsible .content {
  padding: 6px;
  background-color:#eeeeee;
}

.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border:3px solid #40916C ;
  color:#F8F5F2;
  background-color: #40916db2;
  border-radius: 10px;
}
::placeholder {
  color:#F8F5F2;
}

/*
button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #2a2ef8;
}
*/
button {
  border: none;
  background-color: #40916C;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #F8F5F2;
}

.my-button {
  border: none;
  background-color: #40916C;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #F8F5F2;
}
.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.images-flex-container {
  width: 200px;
  height: 200px;
  margin: 3px;
  padding: 3px;
  border: red;
  border-radius: 2rem;
}

.images-container {
  width: 200px;
  height: 200px;
  display: flex;
  object-fit: contain;
}

.home-page-images {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.upload-image {
  max-width: 100%;
  height: auto;
}

