.app-page {

    margin-top: 15px;
}

.app-header {
    background-color: #191919;
    display: flex;
    
    align-content: center;

    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.select-image-input {
    border: none;
}

/*
hr {
    max-width: auto;
}
*/


/* Settings on Homepage */

.settings-img {

    display: block;
    margin-left: auto;
    
}

/* Library on Homepage */

.lib-div {
    display: flex;
}

.lib-desc {
    
}

/* images */

.uploads {
    display: flex;
    justify-content: center;
}
  
.images-flex-container {
    
    margin: 10px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 2rem;
}
  
.images-container {
    
    display: flex;

    justify-content: center;
    align-items: center;
}
  
  
.carousel-inner {
    width: auto;
    max-width: 300px;
    height: auto;
    align-items: center;
    justify-self: center;
}
  
.no-image-info{
    align-self: center;
    justify-self: center;
}

@media (min-width: 768px) {
    /* Styles for tablets and larger screens */
    
    .app-header {
      font-size: calc(12px + 2vmin); /* Adjust as needed */
    }
  
    .carousel-inner {
      max-width: 500px; /* Adjust as needed */
    }
  }
  
  @media (min-width: 992px) {
    /* Styles for desktop screens */
    
    .app-page {
      min-width: 100%; /* Adjust as needed */
    }
    
    .lib-desc {
      /* Adjust as needed */
    }
  }