.app-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: auto;
}

.lib-img {

}

.home-img {

}

.uploads {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/*
.div-images{
    flex: 1;
    display: flex;
    justify-content: space-between;
}*/

img {
    height: 300px;
    width: 300px;
}

