.App {
    min-height: 100vh;
    overflow: hidden;
}

.settings-page {
    min-height: 100vh;
    overflow: hidden;
    min-width: 100vw;
    margin: 15px;

}



.settings-footer {
    /*
    position: absolute;
    bottom: 0;
    margin-left: 35%;
    padding: 15px;
    */

    position: relative;
    margin-bottom: 15px;
}

.custom-select {
    color: #fa0606;
    background-color: #000000;
    border-color: #000000;
}

.settings-body {
    
    
}

.user-settings {
    width: 80%;
    margin: 0 auto;
}

.settings-form {
    justify-content: baseline;
    align-content: baseline;
    display: flex;
    flex-direction: column;
}

.settings-header {
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 15px;
}