@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 25px;
    height: 25px;
    border: 2px solid #40916C;
    border-top: 2px solid white; 
    border-radius: 75%;
    animation: spinner 1.5s linear infinite;
    position: absolute;
    top: calc(50% - 12.5px);
    left: calc(100% + 10px);
  }